title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: '{{orgInfo.name | replace(from="'", to="")}}'
              style:
                font_size: 17
                bold: true
        {% if branchInfo.address.address %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.address | replace(from="'", to="")}}'
              style:
                font_size: 12
        {% endif %}
        {% if branchInfo.address.city %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.city | replace(from="'", to="")}} - {{branchInfo.address.pincode | default(value = '1')}}'
              style:
                font_size: 11
        {% endif %}
        - type: Text
          alignment: Center
          contents:
            - value: 'Bank Reconciliation Statement'
              style:
                font_size: 12
                bold: true
        - type: Text
          alignment: Center
          contents:
            - value: '{{fromDate | date(format="%d-%m-%Y")}} to {{toDate | date(format="%d-%m-%Y")}}'
              style:
                font_size: 10
                bold: true
        - type: PaddedElement
          padding:
            top: 1
            bottom: 1
          element:
            type: BlankLine
        - type: TableLayout
          widths: [18,2,80]
          padding:
            top: 1
            left: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Branch'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: '{{branch | replace(from="'", to="")}}'
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Account'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: '{{account | replace(from="'", to="")}}'
        - type: PaddedElement
          padding:
            horizontal: 0
            vertical: 0.5
          element:
            type: BlankLine
        - type: TableLayout
          widths: [12,20,14,13,15,13,13]
          padding:
            vertical: 0.5
            horizontal: 0
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Date'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Particulars'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Voucher Type'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Ref. No'
              - type: Text
                padding:
                  right: 1
                contents:
                  - value: 'Bank Date'
              - type: Text
                padding:
                  right: 1
                alignment: Right
                contents:
                  - value: 'Debit'
              - type: Text
                padding:
                  right: 1
                alignment: Right
                contents:
                  - value: 'Credit'
        - type: PaddedElement
          padding:
            horizontal: 0
            vertical: 0.5
          element:
            type: BlankLine
        - type: TableLayout
          widths: [12,20,14,13,15,13,13]
          text_style:
            font_size: 10
          padding:
            horizontal: 0
            vertical: 0.5
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            {% for record in records %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.date | date(format="%d-%m-%Y")}}'
              - type: Text
                padding: 1
                contents:
                {% if record.particulars %}
                  - value: '{{record.particulars | replace(from="'", to="")}}'
                {%else %}
                  - value: ''
                {% endif %}
              - type: Text
                padding: 1
                contents:
                {% if record.voucherType %}
                  - value: '{{record.voucherType}}'
                {%else %}
                  - value: ''
                {% endif %}
              - type: Text
                padding: 1
                contents:
                {% if record.voucherNo %}
                  - value: '{{record.voucherNo}}'
                {%else %}
                  - value: ''
                {% endif %}
              - type: Text
                padding: 1
                contents:
                {% if record.bankDate %}
                  - value: '{{record.bankDate | date(format="%d-%m-%Y")}}'
                {%else %}
                  - value: ''
                {% endif %}
              - type: Text
                padding: 1
                alignment: Right
                contents:
                  - value: '{{record.debit | fixed}}'
                    style:
                      shrink: true
              - type: Text
                padding: 1
                alignment: Right
                contents:
                  - value: '{{record.credit | fixed}}'
                    style:
                      shrink: true
            {% endfor %}
        - type: PaddedElement
          padding:
            horizontal: 0
            vertical: 0.5
          element:
            type: BlankLine
        - type: TableLayout
          widths: [50,50]
          padding:
            horizontal: 1
            vertical: 0.5
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: LinearLayout
                elements:
                  - type: Text
                    contents:
                    {% if summary.difference >= 0 %}
                      - value: 'Unreconciled Balance: {{summary.difference | fixed }} Dr'
                    {% else %}
                      - value: 'Unreconciled Balance: {{summary.difference | fixed | trim_start_matches(pat="-")}} Cr'
                    {% endif %}
                  - type: Text
                    contents:
                    {% if summary.bankClosing >= 0 %}
                      - value: 'Reconciled Balance: {{summary.bankClosing | fixed }} Dr'
                    {% else %}
                      - value: 'Reconciled Balance: {{summary.bankClosing | fixed | trim_start_matches(pat="-")}} Cr'
                    {% endif %}
              - type: Text
                alignment: Right
                contents:
                {% if summary.accountClosing >= 0 %}
                  - value: 'Total Value: {{summary.accountClosing | fixed }} Dr'
                {% else %}
                  - value: 'Total Value: {{summary.accountClosing | fixed | trim_start_matches(pat="-")}} Cr'
                {% endif %}
        - type: PaddedElement
          padding:
            horizontal: 0
            vertical: 0.5
          element:
            type: BlankLine