title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: '{{orgInfo.name | replace(from="'", to="") }}'
              style:
                font_size: 17
                bold: true
        {%if branchInfo.address.address %}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: '{{branchInfo.address.address | replace(from="'", to="")}}'
              style:
                font_size: 12
        {% endif %}
        {% if branchInfo.address.city %}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: '{{branchInfo.address.city | replace(from="'", to="")}} - {{branchInfo.address.pincode | default(value="1")}}'
              style:
                font_size: 12
        {% endif %}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: {{title}}
              style:
                font_size: 13
                bold: true
        - type: Text
          alignment: Center
          padding:
            vertical: 0.5
            horizontal: 0
          contents:
            {% if fromDate %}
            - value: '{{fromDate | date(format="%d-%m-%Y")}} to {{toDate | date(format="%d-%m-%Y")}}'
            {% else %}
            - value: 'As On Date: {{toDate | date(format="%d-%m-%Y")}}'
            {% endif %}
              style:
                font_size: 11
        - type: BlankLine
        - type: Text
          alignment: Left
          padding:
            vertical: 1
            horizontal: 1
          contents:
            - value: 'Branch : {{branch | replace(from="'", to="")}}'
              style:
                font_size: 12
                bold: true
        - type: BlankLine
        - type: TableLayout
          widths: [12, 43, 15, 14, 16]
          padding: 1
          text_style:
            bold: true
            font_size: 12
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Expiry'
              - type: Text
                contents:
                  - value: 'Particulars'
              - type: Text
                contents:
                  - value: 'BatchNo'
              - type: Text
                alignment: Right
                contents:
                  - value: 'Stock'
              - type: Text
                alignment: Right
                contents:
                  - value: 'Value'
        - type: BlankLine
        - type: TableLayout
          widths: [12, 43, 15, 14, 16]
          padding:
            vertical: 2
            horizontal: 1
          text_style:
            font_size: 11
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            {% for record in records%}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.expiry| date(format="%d-%m-%Y")}}'
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.inventoryName | replace(from="'", to="")}}'
              - type: Text
                padding: 1
                contents:
                  {% if record.batchNo %}
                  - value: '{{record.batchNo}}'
                  {% else %}
                  - value: ''
                  {% endif %} 
                    style: 
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.closing}}'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.assetValue | fixed}}'
                    style: 
                      shrink: true
            {% endfor %}
        - type: BlankLine
        - type: TableLayout
          widths: [50,50]
          padding:
            vertical: 1
            horizontal: 1
          text_style:
            bold: true
            font_size: 12
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Total Stock:  {{summary.closing}}'
                    style:
                      shrink: true
              - type: Text
                alignment: Right
                contents:
                  - value: 'Total Value:  Rs.{{summary.assetValue | fixed}}'
                    style:
                      shrink: true
        - type: BlankLine