title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: '{{orgInfo.name | replace(from="'", to="")}}'
              style:
                font_size: 17
                bold: true
        {% if branchInfo.address.address %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.address | replace(from="'", to="")}}'
              style:
                font_size: 12
        {% endif %}
        {% if branchInfo.address.city %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.city | replace(from="'", to="")}} - {{branchInfo.address.pincode | default(value = '1')}}'
              style:
                font_size: 12
        {% endif %}
        - type: Text
          alignment: Center
          contents:
            - value: {{title}}
              style:
                font_size: 13
                bold: true
        - type: Text
          alignment: Center
          contents:
            - value: '{{fromDate | date(format="%d-%m-%Y")}} to {{toDate | date(format="%d-%m-%Y")}}'
              style:
                font_size: 11
                bold: true
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [18,2,80]
          padding:
            top: 1
            left: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Branch'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: '{{branch | replace(from="'", to="")}}'
            {% if vendor %}
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Vendor'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: '{{vendor | replace(from="'", to="")}}'
            {% endif %}
            {% if paymentAccounts %}
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Account'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: '{{paymentAccounts | replace(from="'", to="")}}'
            {% endif %}
            {% if paymentMode %}
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Payment Mode'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: '{{paymentMode | replace(from="'", to="")}}'
            {% endif %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        {% if detailMode %}
        - type: TableLayout
          widths: [12,20,17,17,17,17]
          padding:
           vertical: 1
           horizontal: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Particulars'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Branch'
              - type: Text
                alignment: Right
                padding:
                  right: 1
                contents:
                  - value: 'Bank Amount'
              - type: Text
                alignment: Right
                padding:
                  right: 1
                contents:
                  - value: 'Cash Amount'
              - type: Text
                alignment: Right
                padding:
                  right: 1
                contents:
                  - value: 'Credit Amount'
              - type: Text
                alignment: Right
                padding:
                  right: 1
                contents:
                  - value: 'Amount'
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [12,20,17,17,17,17]
          text_style:
            font_size: 10
          padding:
            horizontal: 0
            vertical: 1
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            {% for record in records %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.particulars | date(format="%d-%m-%Y")}}'
              - type: Text
                padding: 1
                contents:
                {% if record.branchName %}
                  - value: '{{record.branchName | replace(from="'", to="")}}'
                {% else %}
                 - value: ''
                {% endif %}
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.bankAmount | fixed}}'
                    style:
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.cashAmount | fixed}}'
                    style:
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.creditAmount | fixed}}'
                    style:
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.amount | fixed}}'
                    style:
                      shrink: true
            {% endfor %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [15,3,43,16,2,22]
          padding:
           vertical: 1
           horizontal: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Bank Amount'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: 'Rs. {{balance.bankAmount | fixed}}'
              - type: Text
                contents:
                  - value: 'Total Amount'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                alignment: Right
                contents:
                  - value: 'Rs. {{balance.billAmount | fixed}}'
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Cash Amount'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Rs. {{balance.cashAmount | fixed}}'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Credit Amount'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                alignment: Right
                contents:
                  - value: 'Rs. {{balance.creditAmount | fixed}}'
        {% else %}
        - type: TableLayout
          widths: [30,45,25]
          padding:
           vertical: 1
           horizontal: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Particulars'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Branch'
              - type: Text
                alignment: Right
                padding:
                  right: 1
                contents:
                  - value: 'Amount'
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [30,45,25]
          text_style:
            font_size: 10
          padding:
            horizontal: 0
            vertical: 1
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            {% for record in records %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.particulars | date(format="%d-%m-%Y")}}'
              - type: Text
                padding: 1
                contents:
                {% if record.branchName %}
                  - value: '{{record.branchName | replace(from="'", to="")}}'
                {% else %}
                 - value: ''
                {% endif %}
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.amount | fixed}}'
                    style:
                      shrink: true
            {% endfor %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: Text
          alignment: Right
          contents:
            - value: 'Total Amount : Rs. {{balance.billAmount | fixed}}'
              style:
                font_size: 10
                bold: true
        {% endif %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine