title: "Auditplus Invoice"
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          padding:
            top: 1
            bottom: 10
            left: 1
            right: 1
          alignment: Left
          contents:
            - value: 'Invoice for {{invoice.period_after | date(format="%d-%m-%Y") }} to {{invoice.period_till | date(format="%d-%m-%Y") }} billing period'
              style:
                font_size: 11
                bold: true
        - type: TableLayout
          widths: [50, 50]
          padding: 1
          rows:
            - columns:
              - type: LinearLayout
                elements:
                  - type: Text
                    padding: 1
                    contents:
                      - value: From
                        style:
                          font_size: 10
                          bold: true
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: Auditplus Technologies
                        style:
                          font_size: 10
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: 235/4 Palyamkottai Road
                        style:
                          font_size: 10
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: 2nd Floor, Jothi Towers
                        style:
                          font_size: 10
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: Thoothukudi-628002
                        style:
                          font_size: 10
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: 'GSTIN: 33ABOFA5872B1ZJ'
                        style:
                          font_size: 10
              - type: LinearLayout
                elements:
                  - type: Text
                    padding: 0.5
                    contents:
                      - value: 'Details'
                        style:
                          font_size: 10
                          bold: true
                  - type: TableLayout
                    widths: [45, 5, 50]
                    padding: 0.5
                    text_style:
                      font_size: 10
                    rows:
                      - columns:
                        - type: Text
                          contents:
                            - value: 'Invoice Number'
                        - type: Text
                          contents:
                            - value: ':'
                        - type: Text
                          contents:
                            - value: '{{invoice.invoiceNo}}'
                      - columns:
                        - type: Text
                          contents:
                            - value: 'Date of issue'
                        - type: Text
                          contents:
                            - value: ':'
                        - type: Text
                          contents:
                            - value: '{{invoice.date | date(format="%d-%m-%Y")}}'
        - type: TableLayout
          widths: [100]
          padding:
            vertical: 5
            horizontal: 1
          text_style:
            font_size: 10
          rows:
            - columns:
              - type: LinearLayout
                elements:
                  - type: Text
                    padding: 1
                    contents:
                      - value: For
                        style:
                          bold: true
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: '{{organizationInfo.fullName}}'
                  {% if organizationInfo.billingAddress.email %}
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: '{{organizationInfo.billingAddress.email}}'
                  {% endif %}
                  {% if organizationInfo.billingAddress.street %}
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: '{{organizationInfo.billingAddress.street}}'
                  {% endif %}
                  {% if organizationInfo.billingAddress.phone %}
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: '{{organizationInfo.billingAddress.phone}}'
                  {% endif %}
                  {% if organizationInfo.billingAddress.city or organizationInfo.billingAddress.pinCode %}
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      {% if organizationInfo.billingAddress.city and organizationInfo.billingAddress.pinCode %}
                      - value: '{{organizationInfo.billingAddress.city}} - {{organizationInfo.billingAddress.pinCode}}'
                      {% elif organizationInfo.billingAddress.city %}
                      - value: '{{organizationInfo.billingAddress.city}}'
                      {% elif organizationInfo.billingAddress.pinCode %}
                      - value: '{{organizationInfo.billingAddress.pinCode}}'
                      {% endif %}
                  {% endif %}
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: '{{organizationInfo.billingAddress.country}}'
                  - type: Text
                    padding:
                      horizontal: 1
                      vertical: 0.5
                    contents:
                      - value: 'GSTIN : {{organizationInfo.gstNo}}'
        - type: Text
          padding: 1
          contents:
            - value: Summary
              style:
                bold: true
                font_size: 12
        - type: PaddedElement
          padding:
            top: 2
            bottom: 2
          element:
            type: BlankLine
            style:
              color:
                greyscale: 190
        {% for usage in invoice.organizationUsage %}
        - type: TableLayout
          widths: [50, 50]
          padding: 0.5
          text_style:
            font_size: 10
          rows:
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '{{usage.plan}} Plan usage for {{usage.startDate | date(format="%d-%m-%Y")}} to {{usage.endDate | date(format="%d-%m-%Y")}} billing period '
                    style:
                      font_size: 10
              - type: TableLayout
                widths: [65, 5, 30]
                padding:
                  top: 5
                text_style:
                  font_size: 10
                rows:
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'Base Charges'
                          style:
                            bold: true
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                          style:
                            bold: true
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{usage.baseCharge |fixed}}'
                          style:
                            bold: true
                  {% set additional_charges = usage.additionalUsageCharges.branch + usage.additionalUsageCharges.user + usage.additionalUsageCharges.cashRegister + usage.additionalUsageCharges.voucher + usage.additionalUsageCharges.client + usage.additionalUsageCharges.warehouse %}
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'Additional Usage Charges'
                          style:
                            bold: true
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                          style:
                            bold: true
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{additional_charges |fixed}}'
                          style:
                            bold: true
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'branch'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{usage.additionalUsageCharges.branch |fixed}}'
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'user'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{usage.additionalUsageCharges.user |fixed}}'
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'cashRegister'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{usage.additionalUsageCharges.cashRegister |fixed}}'
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'voucher'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{usage.additionalUsageCharges.voucher |fixed}}'
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'client'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{usage.additionalUsageCharges.client |fixed}}'
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'warehouse'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{usage.additionalUsageCharges.warehouse |fixed}}'
        - type: PaddedElement
          padding:
            top: 2
            bottom: 2
          element:
            type: BlankLine
            style:
              color:
                greyscale: 190
        {% endfor %}
        - type: TableLayout
          widths: [50, 50]
          padding: 0.5
          text_style:
            font_size: 10
          rows:
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: ''
                    style:
                      font_size: 10
              - type: TableLayout
                widths: [65, 5, 30]
                padding:
                  top: 5
                text_style:
                  font_size: 10
                rows:
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'Service value'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{invoice.serviceValue |fixed}}'
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'Tax Value( GST {{invoice.taxRatio}} )'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{invoice.taxValue |fixed}}'
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'Rounded Value '
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: '{{invoice.roundedValue |fixed}}'
        - type: PaddedElement
          padding:
            top: 2
            bottom: 1
          element:
            type: BlankLine
            style:
              color:
                greyscale: 190
        - type: TableLayout
          widths: [50, 50]
          padding: 0.5
          text_style:
            font_size: 10
          rows:
            - columns:
              - type: Text
                contents:
                  - value: ''
                    style:
                      font_size: 10
              - type: TableLayout
                widths: [65, 5, 30]
                text_style:
                  font_size: 11
                  bold: true
                rows:
                  - columns:
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'Total Value'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: ':'
                    - type: Text
                      alignment: Right
                      contents:
                        - value: 'Rs. {{invoice.totalValue |fixed}}'
        - type: PaddedElement
          padding:
            top: 1
            bottom: 1
          element:
            type: BlankLine
            style:
              color:
                greyscale: 190
        - type: Text
          padding: 1
          contents:
            - value: '*This invoice will be charged automatically, if sufcient credit balance is available in your account'
              style:
                font_size: 10
