title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  border_style:
    thickness: 0.1
  margins:
    top: 5
    right: 5
    bottom: 5
    left: 5
body:
  elements:
    - type: LinearLayout
      elements:
        - type: TableLayout
          widths: [60, 40]
          padding: 1
          text_style:
            font_size: 10
          rows:
            - columns:
              - type: LinearLayout
                elements:
                  - type: Text
                    contents:
                      - value: '{{orgInfo.name}}'
                        style:
                          font_size: 15
                          bold: true
                  {%if branchInfo.address.address%}        
                  - type: Text
                    padding:
                      top: 0.5
                    contents:
                      - value: '{{branchInfo.address.address}}'
                  {%endif%}
                  {%if branchInfo.address.city%}
                  - type: Text
                    padding:
                      top: 0.5
                    contents:
                      - value: '{{branchInfo.address.city}} - {{branchInfo.address.pincode | default(value="1")}}'
                  {%endif%}
                  {%if branchInfo.phone%}
                  - type: Text
                    padding:
                      top: 0.5
                    contents:
                      - value: 'Phone  : {{branchInfo.phone}}'
                  {%endif%}
                  {%if branchInfo.mobileNos and branchInfo.mobileNos | length > 0%}
                  - type: Text
                    padding:
                      top: 0.5
                    contents:
                      - value: 'Mobile  : {{branchInfo.mobileNos | join(sep= ",")}}'
                  {%endif%}
                  {%if branchInfo.email%}
                  - type: Text
                    padding:
                      top: 0.5
                    contents:
                      - value: 'Email   : {{branchInfo.email}}'
                  {%endif%}
                  - type: Text
                    padding:
                      top: 0.5
                    contents:
                      - value: 'GSTIN  : {{branchInfo.gstNo}}'
                  {%if branchInfo.licNo%}
                  - type: Text
                    padding:
                      top: 0.5
                    contents:
                      - value: 'LIC.NO : {{branchInfo.licNo}}'
                  {%endif%}
              - type: LinearLayout
                elements:
                  - type: Text
                    {# alignment: 'Right' #}
                    padding: 
                      left: 25
                    contents:
                      - value: '{{voucherInfo.voucherName}}'
                        style:
                          font_size: 13
                          bold: true 
                  - type: TableLayout
                    widths: [24, 3, 73]
                    padding: 
                      top: 2
                      left: 25
                      right: 1
                      bottom: 1
                    text_style:
                      font_size: 10 
                    rows:
                        - columns:
                          - type: Text
                            contents:
                              - value: 'Bill No'
                                style:
                                  bold: true
                          - type: Text
                            contents:
                              - value: ':'
                                style:
                                  bold: true
                          - type: Text
                            contents:
                              - value: '{{voucherInfo.voucherNo}}'
                                style:
                                  shrink: true
                        - columns:
                          - type: Text
                            contents:
                              - value: 'Date'
                                style:
                                  bold: true
                          - type: Text
                            contents:
                              - value: ':'
                                style:
                                  bold: true
                          - type: Text
                            contents:
                              - value: '{{voucherInfo.date}}'
                        {% if voucherInfo.refNo %}
                        - columns:
                          - type: Text
                            contents:
                              - value: 'Ref.No'
                                style:
                                  bold: true
                          - type: Text
                            contents:
                              - value: ':'
                                style:
                                  bold: true
                          - type: Text
                            contents:
                              - value: '{{voucherInfo.refNo}}' 
                        {% endif %}     