title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: {{orgInfo.name}}
              style:
                font_size: 17
                bold: true
        - type: Text
          alignment: Center
          padding: 
            vertical: 1
            horizontal: 0
          contents:
            - value: {{title}}
              style:
                font_size: 13
                bold: true
        - type: BlankLine
        - type: TableLayout
          widths: [18, 2, 80]
          padding: 1
          text_style: 
            bold: true
            font_size: 12
          rows:
            {% if account %}
            - columns:
              - type: Text                    
                contents:
                  - value: 'Account' 
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: {{account}}
            {% endif %}
            {% if branch %}
            - columns:
              - type: Text                    
                contents:
                  - value: 'Branch' 
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: {{branch}}
            {% endif %}
            - columns:
              - type: Text                    
                contents:
                  - value: 'As On Date' 
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: '{{summary.asOnDate}}'
            - columns:
              - type: Text                    
                contents:
                  - value: 'Generated On' 
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: '{{summary.createdAt | date(format="%Y-%m-%d %I:%M %p", timezone="Asia/Kolkata")}}'
            - columns:
              - type: Text                    
                contents:
                  - value: 'Closing Balance' 
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: '{{summary.closing}}'
        - type: BlankLine
        - type: TableLayout
          widths: [22, 12, 18, 14, 13, 14, 7]
          padding: 1
          text_style: 
            bold: true
            font_size: 12
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Particulars'
              - type: Text
                contents:
                  - value: 'Date'  
              - type: Text
                contents:
                  - value: 'Voucher Type'  
              - type: Text
                contents:
                  - value: 'Voucher No/ Ref No'
              - type: Text
                alignment: Right
                contents:
                  - value: 'Principal Amount'
              - type: Text
                alignment: Right
                contents:
                  - value: 'Balance'
              - type: Text
                alignment: Right
                contents:
                  - value: 'Days'
        - type: BlankLine
        {% if sort == "account" %}
        {% for key, value in records %}
        - type: TableLayout
          widths: [100]
          padding: 1
          text_style:
            font_size: 11
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: {{key}}
        - type: TableLayout
          widths: [22, 12, 16, 15, 14, 14, 7]
          padding:
            vertical: 1
            horizontal: 1
          text_style:
            font_size: 11
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            {% for record in value %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: {{record.branchName}}
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.date}}'
              - type: Text
                padding: 1
                contents:
                  - value: {{record.voucherType}}
              - type: Text
                padding: 1
                contents:
                {% if record.refNo and record.voucherNo %}
                  - value: '{{record.voucherNo}}/{{record.refNo}}'
                {% elif record.voucherNo %}
                  - value: '{{record.voucherNo}}'
                {% elif record.refNo %}
                  - value: '{{record.refNo}}'
                {% endif %}
              - type: Text
                padding: 1
                alignment: Right
                contents:
                  - value: '{{record.principalAmount | fixed}}' 
                    style: 
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.closing}}'
                    style: 
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.days}}'
            {% endfor %}
        {% endfor %}
        {% else %}
        {% for key, value in records %}
        - type: TableLayout
          widths: [100]
          padding: 1
          text_style:
            font_size: 11
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: {{key}}
        - type: TableLayout
          widths: [22, 12, 16, 15, 14, 14, 7]
          padding:
            vertical: 1
            horizontal: 1
          text_style:
            font_size: 11
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            {% for record in value %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: {{record.accountName}}
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.date}}'
              - type: Text
                padding: 1
                contents:
                  - value: {{record.voucherType}}
              - type: Text
                padding: 1
                contents:
                {% if record.refNo and record.voucherNo %}
                  - value: '{{record.voucherNo}}/{{record.refNo}}'
                {% elif record.voucherNo %}
                  - value: '{{record.voucherNo}}'
                {% elif record.refNo %}
                  - value: '{{record.refNo}}'
                {% endif %}
              - type: Text
                padding: 1
                alignment: Right
                contents:
                  - value: '{{record.principalAmount |fixed}}' 
                    style: 
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.closing}}'
                    style: 
                      shrink: true
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.days}}'
            {% endfor %}
        {% endfor %}
        {% endif %}
        - type: BlankLine
        - type: TableLayout
          widths: [50,50]
          padding: 
            vertical: 1
            horizontal: 1
          text_style: 
            bold: true
            font_size: 12
          rows:
            - columns:
              - type: Text                    
                contents:
                  - value: 'Total Debit:  {{summary.debit | fixed}} Dr' 
                    style: 
                      shrink: true
              - type: Text
                alignment: Right
                contents:
                  - value: 'Total Credit:  {{summary.credit | fixed}} Cr' 
                    style: 
                      shrink: true
        - type: BlankLine  
