title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: {{orgInfo.name}}
              style:
                font_size: 15
                bold: true
        - type: Text
          alignment: Center
          padding: 1
          contents:
            - value: {{title}}
              style:
                font_size: 12
                bold: true
        - type: PaddedElement
          padding:
            top: 1
            bottom: 1
          element:
            type: BlankLine
        - type: TableLayout
          widths: [18,2,80]
          padding:
            top: 1
            left: 1
          text_style:
            font_size: 11
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Branch'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: '{{branch}}'
        - type: PaddedElement
          padding:
            top: 1
            bottom: 2
          element:
            type: BlankLine
        {% for key, val in records %}
        - type: TableLayout
          widths: [1]
          padding: 2
          text_style:
            font_size: 10
          rows:
            - columns:
              - type: Text
                contents:
                  {% if group == "vendorName" %}
                  - value: 'Supplier : {{key}}'
                  {% else %}
                  - value: 'Manufacturer : {{key}}'
                  {% endif %}
                    style:
                      bold: true
            - columns:
              - type: PaddedElement
                padding:
                  top: 2
                element:
                  type: BlankLine
            - columns:
              - type: TableLayout
                widths: [49,13,13,13,12]
                text_style:
                  bold: true
                  font_size: 10
                cell_decorator:
                  type: SimpleCellDecorator
                  inner: true
                  outer: true
                rows:
                  - columns:
                    - type: Text
                      padding: 1
                      contents:
                        - value: 'Item'
                    - type: Text
                      alignment: Center
                      padding: 1
                      contents:
                        - value: 'Order Level'
                    - type: Text
                      alignment: Center
                      padding: 1
                      contents:
                        - value: 'Stock'
                    - type: Text
                      alignment: Center
                      padding: 1
                      contents:
                        - value: 'Order Qty'
                    - type: Text
                      alignment: Right
                      padding: 1
                      contents:
                        - value: 'Unit'
            - columns:
              - type: TableLayout
                widths: [49,13,13,13,12]
                text_style:
                  font_size: 10
                cell_decorator:
                  type: SimpleCellDecorator
                  inner: true
                  outer: true
                rows:
                  {% for record in val %}
                  - columns:
                    - type: Text
                      padding: 1
                      contents:
                        - value: {{record.inventoryName}}
                    - type: Text
                      alignment: Center
                      padding: 1
                      contents:
                        - value: '{{record.orderLevel}}'
                    - type: Text
                      alignment: Center
                      padding: 1
                      contents:
                        - value: '{{record.stock}}'
                    - type: Text
                      alignment: Center
                      padding: 1
                      contents:
                        - value: '{{record.orderQty}}'
                    - type: Text
                      alignment: Right
                      padding: 1
                      contents:
                        - value: {{record.unitName}}
                  {% endfor %}
        {% endfor %}