title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: '{{orgInfo.name}}'
              style:
                font_size: 17
                bold: true
        {% if branchInfo.address.address %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.address}}'
              style:
                font_size: 12
        {% endif %}
        {% if branchInfo.address.city %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.city}} - {{branchInfo.address.pincode | default(value = '1')}}'
              style:
                font_size: 12
        {% endif %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{title}}'
              style:
                font_size: 13
                bold: true
        - type: Text
          alignment: Center
          contents:
            - value: '{{fromDate | date(format="%d-%m-%Y")}} to {{toDate | date(format="%d-%m-%Y")}}'
              style:
                font_size: 11
                bold: true
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [18,2,80]
          padding:
            top: 1
            left: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Branch'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: '{{branch}}'
            {% if customer %}
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Customer'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: '{{customer}}'
            {% endif %}
            {% if paymentAccounts %}
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Account'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: '{{paymentAccounts}}'
            {% endif %}
            {% if paymentMode %}
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Payment Mode'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: '{{paymentMode}}'
            {% endif %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        {% if detailMode %}
        - type: TableLayout
          widths: [15,35,24,25]
          padding:
           vertical: 1
           horizontal: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Date'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Customer'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Ref.No'
              - type: Text
                alignment: Right
                padding:
                  right: 1
                contents:
                  - value: 'Amount'
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        {% for record in records %}
        - type: LinearLayout
          elements:
          - type: TableLayout
            widths: [15,35,24,25]
            text_style:
              font_size: 10
            padding:
              horizontal: 0
              vertical: 0.5
            cell_decorator:
              type: SimpleCellDecorator
              inner: true
              skip_vertical: true
            rows:
              - columns:
                - type: Text
                  padding: 0.5
                  contents:
                    - value: '{{record.date | date(format="%d-%m-%Y")}}'
                - type: Text
                  padding: 0.5
                  contents:
                  {% if record.customer %}
                    - value: '{{record.customer}}'
                  {% else %}
                  - value: ''
                  {% endif %}
                - type: Text
                  padding: 0.5
                  contents:
                  {% if record.refNo %}
                    - value: '{{record.voucherNo}}/{{record.refNo}}'
                  {%else %}
                    - value: '{{record.voucherNo}}'
                  {% endif %}
                - type: Text
                  alignment: Right
                  padding: 0.5
                  contents:
                    - value: '{{record.amount | fixed}}'
                      style:
                        shrink: true
          - type: TableLayout
            widths: [25,27,27,21]
            padding:
              vertical: 0.5
              horizontal: 0.5
            text_style:
              font_size: 10
            rows:
              - columns:
                - type: Text
                  contents:
                    - value: 'Bank Amount: {{record.bankAmount | fixed}}'
                      style:
                        color:
                          greyscale: 128
                - type: Text
                  contents:
                    - value: 'Cash Amount: {{record.cashAmount | fixed}}'
                      style:
                        color:
                          greyscale: 128
                - type: Text
                  contents:
                    - value: 'Credit Amount: {{record.creditAmount | fixed}}'
                      style:
                        color:
                          greyscale: 128
                - type: Text
                  alignment: Right
                  contents:
                    - value: 'EFT Amount: {{record.eftAmount | fixed}}'
                      style:
                        color:
                          greyscale: 128
          - type: BlankLine
        {% endfor %}
        - type: TableLayout
          widths: [15,3,43,16,2,22]
          padding:
           vertical: 2
           horizontal: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Bank Amount'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                contents:
                  - value: 'Rs. {{balance.bankAmount | fixed}}'
              - type: Text
                contents:
                  - value: 'Total Amount'
              - type: Text
                contents:
                  - value: ':'
              - type: Text
                alignment: Right
                contents:
                  - value: 'Rs. {{balance.billAmount | fixed}}'
            - columns:
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Cash Amount'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Rs. {{balance.cashAmount | fixed}}'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: 'Credit Amount'
              - type: Text
                padding:
                  top: 1
                contents:
                  - value: ':'
              - type: Text
                padding:
                  top: 1
                alignment: Right
                contents:
                  - value: 'Rs. {{balance.creditAmount | fixed}}'
            - columns:
                - type: Text
                  padding:
                  top: 1
                  contents:
                    - value: 'EFT Amount'
                - type: Text
                  padding:
                  top: 1
                  contents:
                    - value: ':'
                - type: Text
                  padding:
                  top: 1
                  contents:
                    - value: 'Rs. {{balance.eftAmount | fixed}}'
        {% else %}
        - type: TableLayout
          widths: [15,35,24,25]
          padding:
           vertical: 1
           horizontal: 1
          text_style:
            font_size: 10
            bold: true
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Date'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Customer'
              - type: Text
                padding:
                  left: 1
                contents:
                  - value: 'Ref.No'
              - type: Text
                alignment: Right
                padding:
                  right: 1
                contents:
                  - value: 'Amount'
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [15,35,24,25]
          text_style:
            font_size: 10
          padding:
            horizontal: 0
            vertical: 1
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            {% for record in records %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.date | date(format="%d-%m-%Y")}}'
              - type: Text
                padding: 1
                contents:
                {% if record.customer %}
                  - value: {{record.customer}}
                {% else %}
                 - value: ''
                {% endif %}
              - type: Text
                padding: 1
                contents:
                {% if record.refNo %}
                  - value: '{{record.voucherNo}}/{{record.refNo}}'
                {%else %}
                  - value: '{{record.voucherNo}}'
                {% endif %}
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{record.amount | fixed}}'
                    style:
                      shrink: true
            {% endfor %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: Text
          alignment: Right
          contents:
            - value: 'Total Amount  : Rs. {{balance.billAmount | fixed}}'
              style:
                font_size: 10
                bold: true
        {% endif %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
