title: '{{title}}'
conformance: Minimal
paper_size:
  width: 297
  height: 210
decorator:
  type: SimplePageDecorator
  border_style:
    thickness: 0.1
  margins:
    top: 8
    right: 8
    bottom: 8
    left: 8
body:
    elements:
      - type: LinearLayout
        elements:
          - type: Text
            alignment: Center
            padding:
              top: 1
            contents:
              - value: '{{orgInfo.name}}'
                style:
                  font_size: 14
                  bold: true
          {%if branchInfo.address.address%}  
          - type: Text
            alignment: Center
            contents:
              - value: '{{branchInfo.address.address}}'
                style:
                  font_size: 12
          {% endif %}
          {%if branchInfo.address.city%}
          - type: Text
            alignment: Center
            padding:
              top: 0.5
            contents:
              - value: '{{branchInfo.address.city}} - {{branchInfo.address.pincode | default(value="1")}}'
                style:
                  font_size: 12
          {%endif%}
          - type: Text
            alignment: Center
            padding:
              top: 0.5
            contents:
              - value:  'SCHEDULED DRUG REPORT'
                style:
                  font_size: 12
                  bold: true
          - type: Text
            alignment: Center
            padding: 0.5
            contents:
              - value: '{{date | date(format="%d-%m-%Y")}}'
                style:
                  font_size: 12
                  bold: true
      - type: BlankLine
      - type: TableLayout
        widths: [4,10,14,14,16,8,4,8,14,8]
        cell_decorator:
          type: SimpleCellDecorator
          inner: true
        text_style:
          font_size: 9
          bold: true
        rows:
          - columns:
            - type: Text
              padding: 1
              contents:
                - value: 'S.No'
            - type: Text
              padding: 1
              contents:
                - value: 'Bill No'
            - type: Text
              padding: 1
              contents:
                - value: 'Doctor'
            - type: Text
              padding: 1
              contents:
                - value: 'Patient'
            - type: Text
              padding: 1
              contents:
                - value: 'Inventory'
            - type: Text
              padding: 1
              alignment: Center
              contents:
                - value: 'Batch' 
            - type: Text
              padding: 1
              alignment: Center
              contents:
                - value: 'Qty' 
            - type: Text
              alignment: Center
              padding: 1
              contents:
                - value: 'Expiry' 
            - type: Text
              padding: 1
              contents:
                - value: 'Manufacturer' 
            - type: Text
              padding: 1
              contents:
                - value: 'Signature' 
      - type: BlankLine            
      - type: TableLayout
        widths: [4,88,8]
        cell_decorator:
          type: SimpleCellDecorator
          inner: true
        text_style:
          font_size: 9
        rows:
          {% for record in records %}
          - columns:
            - type: Text
              padding: 1
              contents:
                - value: '{{loop.index}}'
            - type: TableLayout
              widths: [10,14,14,16,8,4,8,14]
              cell_decorator:
                type: SimpleCellDecorator
                inner: true
              text_style:
                font_size: 9
              rows:
                {% for item in record.invTrns %}
                - columns:
                  - type: Text
                    padding: 1
                    contents:
                      - value: '{{record.voucherNo}}'
                  - type: LinearLayout
                    elements:
                      - type: Text
                        padding: 
                          top: 1
                          left: 1
                          right: 1
                          bottom: 0.5
                        contents:
                          {% if record.doctor.displayName %}
                          - value: '{{record.doctor.displayName}}'
                          {% else %}
                          - value: ''
                          {% endif %}
                      {%if record.doctor.licenseNo%}
                      - type: Text
                        padding: 
                          left: 1
                          right: 1
                          bottom: 0.5
                        contents: 
                          - value: 'LIC.No : '
                            style:
                              bold: true
                          - value: '{{record.doctor.licenseNo}}'
                      {% endif %}
                  - type: LinearLayout
                    elements:
                      {% if record.patient %}
                      - type: Text
                        padding: 1
                        contents:
                          - value: '{{record.patient}}'
                      {% endif %}
                      {%if record.address.address%}
                      - type: Text
                        padding: 
                          left: 1
                          right: 1
                          bottom: 0.5
                        contents: 
                          - value: '{{record.address.address}}, '
                      {% endif %}
                          {%if record.address.city%}
                          - value: '{{record.address.city}}'
                          {% endif %}
                  - type: Text
                    padding: 1
                    contents:
                      - value: {{item.inventoryInfo.displayName}}
                  - type: Text
                    alignment: Center
                    padding: 1
                    contents:
                      {% if item.batchInfo.batchNo%}
                      - value: '{{item.batchInfo.batchNo}}'
                      {% else %}
                      - value: ''
                      {% endif %}
                  - type: Text
                    alignment: Center
                    padding: 1
                    contents:
                      - value: '{{item.qty}}'
                  - type: Text
                    alignment: Center
                    padding: 1
                    contents:
                      {% if item.batchInfo.expiry%}
                      - value: '{{item.batchInfo.expiry | date(format="%d-%m-%Y")}}'
                      {% else %}
                      - value: ''
                      {% endif %}
                  - type: Text
                    padding: 1
                    contents:
                      {% if item.inventoryInfo.manufacturerName%}
                      - value: '{{item.inventoryInfo.manufacturerName}}'
                      {% else %}
                      - value: ''
                      {% endif %}
                {% endfor %} 
            - type: Text
              padding: 1
              contents:
                - value: ''
            {% endfor %}
      - type: BlankLine    