title: '{{title}}'
conformance: Minimal
paper_size: 
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: '{{orgInfo.name}}'
              style:
                font_size: 17
                bold: true
        {% if branchInfo.address.address %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.address}}'
              style:
                font_size: 12
        {% endif %}
        {% if branchInfo.address.city %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.city}} - {{branchInfo.address.pincode | default(value = '1')}}'
              style:
                font_size: 12
        {% endif %}
        {%if branchInfo.phone%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'Phone: {{branchInfo.phone}}'
              style:
                font_size: 12
        {%endif%}
        {%if branchInfo.mobileNos and branchInfo.mobileNos | length > 0%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'Mobile: {{branchInfo.mobileNos | join(sep= ",")}}'
              style:
                font_size: 12
        {%endif%}
         {%if branchInfo.email%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'Email: {{branchInfo.email}}'
              style:
                font_size: 12
        {%endif%}
        {%if branchInfo.gstNo%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'GSTIN: {{branchInfo.gstNo}}'
              style:
                font_size: 12
        {%endif%}
        {%if branchInfo.licNo%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'LIC.NO: {{branchInfo.licNo}}'
              style:
                font_size: 12
        {%endif%}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: Text
          padding:
            top: 5
          alignment: Center
          contents:
          {% if toAccount == "Cash" %}
            - value: 'CASH DEPOSIT'
          {% elif receiveAccount == "Cash" %}
            - value: 'CASH WITHDRAWAL'
          {% endif %}
              style:
                bold: true
                font_size: 13
        - type: PaddedElement
          padding:
            left: 72
            right: 72
            bottom: 6
          element:
            type: BlankLine
        - type: TableLayout
          widths: [1,1]
          padding:
            vertical: 1
            horizontal: 1
          text_style:
            font_size: 12
          cell_decorator:
            type: SimpleCellDecorator
            line_style:
              color:
                greyscale: 127
            inner: true
            skip_vertical: true
          rows:
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Date'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: '{{voucherInfo.date}}'
                    style:
                      bold: true
            {% if effDate %}
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Effective Date'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: '{{effDate}}'
                    style:
                      bold: true
            {% endif %}
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Voucher Number'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: '{{voucherInfo.voucherNo}}'
                    style:
                      bold: true
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Reference Number'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: '{{voucherInfo.refNo}}'
                    style:
                      bold: true
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Bank'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                {% if toAccount == "Cash" %}
                  - value: '{{receiveAccount}}'
                {% elif receiveAccount == "Cash" %}
                  - value: '{{toAccount}}'
                {% endif %}
                    style:
                      bold: true
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Cash Account'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                {% if toAccount == "Cash" %}
                  - value: '{{toAccount}}'
                {% elif receiveAccount == "Cash" %}
                  - value: '{{receiveAccount}}'
                {% endif %}
                    style:
                      bold: true
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Amount'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Rs. {{amount | fixed}}'
                    style:
                      bold: true
            {% if description %}
            - columns:
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: 'Description'
              - type: Text
                padding:
                  top: 7
                  bottom: 1
                  left: 1
                  right: 1
                contents:
                  - value: '{{description}}'
                    style:
                      bold: true
            {% endif %}
        - type: PaddedElement
          padding:
            left: 1
          element:
            type: BlankLine 
            style:
              color:
                greyscale: 127
