title: '{{title}}'
conformance: Minimal
paper_size:
  width: 210
  height: 297
decorator:
  type: SimplePageDecorator
  margins:
    top: 10
    right: 10
    bottom: 10
    left: 10
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          alignment: Center
          contents:
            - value: '{{orgInfo.name | replace(from="'", to= "")}}'
              style:
                font_size: 15
                bold: true
        {% if branchInfo.address.address %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.address | replace(from="'", to= "")}}'
              style:
                font_size: 10
        {% endif %}
        {% if branchInfo.address.city %}
        - type: Text
          alignment: Center
          contents:
            - value: '{{branchInfo.address.city | replace(from="'", to= "")}} - {{branchInfo.address.pincode | default(value = '1')}}'
              style:
                font_size: 10
        {% endif %}
        {%if branchInfo.phone%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'Phone: {{branchInfo.phone}}'
              style:
                font_size: 10
        {%endif%}
        {%if branchInfo.mobileNos and branchInfo.mobileNos | length > 0%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'Mobile: {{branchInfo.mobileNos | join(sep= ",")}}'
              style:
                font_size: 10
        {%endif%}
         {%if branchInfo.email%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'Email: {{branchInfo.email}}'
              style:
                font_size: 10
        {%endif%}
        {%if branchInfo.gstNo%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'GSTIN: {{branchInfo.gstNo}}'
              style:
                font_size: 10
        {%endif%}
        {%if branchInfo.licNo%}
        - type: Text
          alignment: Center
          padding:
            top: 0.5
          contents:
            - value: 'LIC.NO: {{branchInfo.licNo}}'
              style:
                font_size: 10
        {%endif%}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: Text
          padding:
            top: 5
          alignment: Center
          contents:
            - value: '{{voucherInfo.voucherName | replace(from="'", to= "")}}'
              style:
                bold: true
                font_size: 10
        - type: PaddedElement
          padding:
            left: 85
            right: 85
            bottom: 6
          element:
            type: BlankLine
        - type: TableLayout
          widths: [1,1]
          text_style:
            font_size: 10
          padding: 1
          rows:
            - columns:
              - type: Text
                padding: 1
                contents: 
                  - value: 'Voucher No  : {{voucherInfo.voucherNo}}'
              - type: Text
                alignment: Right
                contents:
                 - value: 'Date : {{voucherInfo.date | date(format="%d-%m-%Y")}}'
            {% if description %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: 'Description   : {{description | replace(from="'", to= "")}}'
            {% endif %}
        - type: BlankLine
        - type: TableLayout
          widths: [80,20]
          text_style:
            font_size: 10
          cell_decorator:
            type: SimpleCellDecorator
            line_style:
              color:
                greyscale: 127
            inner: true
          rows: 
            - columns: 
              - type: Text
                padding: 2
                contents: 
                  - value: 'Particulars'
                    style:
                      bold: true
              - type: Text
                padding: 2
                alignment: Right
                contents:
                  - value: 'Amount'
                    style:
                      bold: true
        - type: BlankLine 
        - type: TableLayout
          widths: [80,20]  
          text_style:
            font_size: 10
          cell_decorator:
            type: SimpleCellDecorator
            line_style:
              color:
                greyscale: 127
            inner: true
            skip_horizontal: true
          rows:
            {% for drAc in debitAccount%}
            - columns:
              - type: Text
                padding: 
                  left: 2
                  right: 2
                  top: 2
                  bottom: 0.5
                contents:
                  - value: '{{drAc.account | replace(from="'", to= "")}}'
                    style:
                      font_size: 11
                      bold: true
              - type: Text
                alignment: Right
                padding: 
                  top: 2
                  bottom: 0.5
                  right: 2
                contents:
                  {% if drAc.newRef %}
                  - value: '{{drAc.newRef | fixed}} Dr'
                  {% else %}
                  - value: ''
                  {% endif %}
            {% if drAc.adjs %}
            {% for adj in drAc.adjs %}
            - columns:
              - type: TableLayout
                widths: [14,43,43]
                text_style: 
                  font_size: 10                
                padding: 
                  left: 2
                  right: 5
                  bottom: 0.5
                rows:
                {% if adj.refType == "adj" %}
                  - columns:
                    - type: Text
                      contents:
                        - value: 'Agst Ref : '
                    - type: Text
                      contents:
                        {% if adj.refNo %}
                        - value: '{{adj.date | date(format="%d-%m-%Y")}} / {{adj.voucherNo | default(value = '---')}} / {{adj.refNo}}'
                        {% else %}
                        - value: '{{adj.date | date(format="%d-%m-%Y")}} / {{adj.voucherNo | default(value = '---')}}'
                        {% endif %}
                    - type: Text
                      alignment: Right
                      contents:
                        {% if adj.principalAmount >= 0 %}
                        - value: '{{adj.principalAmount | fixed}} Dr'
                        {% else %}
                        - value: '{{adj.principalAmount | fixed | trim_start_matches(pat="-")}} Cr'
                        {% endif %}
                {% elif adj.refType == "new" %}
                  - columns:
                    - type: Text
                      contents:
                        - value: 'New Ref : '
                    - type: Text
                      contents:
                        {% if adj.refNo %}
                        - value: '{{adj.date | date(format="%d-%m-%Y")}} / {{adj.voucherNo | default(value = '---')}} / {{adj.refNo}}'
                        {% else %}
                        - value: '{{adj.date | date(format="%d-%m-%Y")}} / {{adj.voucherNo | default(value = '---')}}'
                        {% endif %}
                    - type: Text
                      alignment: Right
                      contents:
                        {% if adj.paidAmount >= 0 %}
                        - value: '{{adj.paidAmount | fixed}} Dr'
                        {% else %}
                        - value: '{{adj.paidAmount | fixed | trim_start_matches(pat="-")}} Cr'
                        {% endif %}
                {% endif %}
              - type: Text
                alignment: Right
                padding: 
                  bottom: 0.5
                  right: 2
                contents:
                  {% if adj.paidAmount >= 0 %}
                  - value: '{{adj.paidAmount | fixed}} Dr'
                  {% else %}
                  - value: '{{adj.paidAmount | fixed | trim_start_matches(pat="-")}} Cr'
                  {% endif %}
            {% endfor %} 
            - columns:
              - type: TableLayout
                widths: [16,43,41]
                text_style: 
                  font_size: 10 
                padding: 
                  left: 2
                  right: 5
                  bottom: 0.5
                rows:
                {% if drAc.onAccount and drAc.onAccount != 0 %}
                  - columns:
                    - type: Text
                      contents:
                        - value: 'On Account : '
                          style:
                            color: 
                              greyscale: 127
                    - type: Text
                      contents:
                        - value: ''
                    - type: Text
                      alignment: Right
                      contents:
                        {% if drAc.onAccount >= 0 %}
                        - value: '{{drAc.onAccount | fixed}} Dr'
                          style:
                            color: 
                              greyscale: 127
                        {% else %}
                        - value: '{{drAc.onAccount | fixed | trim_start_matches(pat="-")}} Cr'
                          style:
                            color: 
                              greyscale: 127
                        {% endif %}
              - type: Text
                alignment: Right
                padding: 
                  bottom: 0.5
                  right: 2
                contents:
                  {% if drAc.onAccount >= 0 %}
                  - value: '{{drAc.onAccount | fixed}} Dr'
                  {% else %}
                  - value: '{{drAc.onAccount | fixed | trim_start_matches(pat="-")}} Cr'
                  {% endif %} 
                {% endif %}
            {% endif %}
            {% endfor %}
            - columns:
              - type: Text
                padding: 
                  top: 5
                  bottom: 2
                  left: 2
                text_style: 
                  font_size: 10
                contents:
                  - value: 'Through :'
                    style:
                      font_size: 11
                      italic: true
                      bold: true
            {% for crAc in creditAccount%}
            - columns:
              - type: TableLayout
                widths: [1,1]
                text_style: 
                  font_size: 10
                padding: 
                  left: 8
                  bottom: 1
                rows:
                  - columns:
                    - type: Text
                      contents:
                        - value: '{{crAc.account | replace(from="'", to= "")}}'     
                    - type: Text
                      padding: 
                        right: 5
                      alignment: Right
                      contents: 
                        - value: '{{crAc.credit | fixed}} Cr'      
            {% endfor %}
        - type: PaddedElement
          padding:
            left: 1
            bottom: 2
          element:
            type: BlankLine   
        - type: LinearLayout
          elements:
            - type: Text
              padding:
                right: 2
                bottom: 2
              alignment: Right
              contents: 
               - value: 'Total Amount :  '
                 style: 
                  font_size: 10
                  bold: true  
               - value : '{{amount | fixed}} Dr' 
                 style: 
                  font_size: 10 
        - type: BlankLine     
