title: '{{title}}'
conformance: Minimal
paper_size: 
  width: 78
  height: 1200
decorator:
  type: SimplePageDecorator
  margins:
    top: 4
    right: 4
    bottom: 4
    left: 4
body:
  elements:
    - type: LinearLayout
      elements:
        - type: Text
          padding: 
            bottom: 1
          alignment: Center
          contents:
            - value: '{{orgInfo.name}}'
              style:
                font_size: 13
                bold: true
        - type: Text
          padding: 
            vertical: 1
            horizontal: 1
          alignment: Center
          contents:
            - value: '{{title}}'
              style:
                font_size: 8
                bold: true
        - type: Text
          padding: 
            vertical: 1
            horizontal: 1
          alignment: Center
          contents:
            - value: '{{date}}'
              style:
                font_size: 8
                bold: true
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [20,35,20,25]
          padding: 1
          text_style: 
            font_size: 8
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Cash Register  '
              - type: Text
                contents:
                  - value: ': {{cashRegisterName}}'
                    style:
                      bold: true
                      font_size: 7
              - type: Text
                contents:
                  - value: 'Opening Balance '
              - type: Text
                alignment: Right
                contents:
                  {% if opening >= 0 %}
                  - value :  ': {{opening | fixed}} Dr'
                  {% else %}
                  - value :  ': {{opening | fixed | trim_start_matches(pat="-")}} Cr'
                  {% endif %}
                    style:
                      bold: true
        - type: Text
          padding:
            left: 1
          contents:
            - value: 'Summary'
              style:
                font_size: 8
                bold: true
        - type: PaddedElement
          padding:
            left: 0.7
            right: 56
            bottom: 1
          element:
            type: BlankLine
        - type: TableLayout
          widths: [1,1]
          text_style:
            font_size: 8
          padding:
            horizontal: 0
            vertical: 1 
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            - columns:
              - type: Text
                alignment: Center
                padding: 1
                contents:
                  - value: 'Cash In'
                    style:
                      bold: true
              - type: Text
                alignment: Center
                padding: 1
                contents:
                  - value: 'Cash Out'
                    style:
                      bold: true
            {% if summary.cashIn or summary.cashOut %}
            - columns:
              {% if summary.cashIn %}
              - type: TableLayout
                padding: 1
                widths: [48,3,49]
                rows:
                {% for record in summary.cashIn %}
                  - columns:
                    - type: Text
                      padding:
                        left: 1
                      contents:
                        - value: '{{record.voucherType}}'
                          style:
                            italic: true
                    - type: Text
                      contents:
                        - value: ':'
                          style:
                            bold: true  
                    - type: Text
                      padding:
                        right: 1
                      alignment: Right
                      contents:
                        - value: '{{record.amount | fixed}}'
                {% endfor %}
              {% endif %}
              {% if summary.cashOut %}
              - type: TableLayout
                padding: 1
                widths: [48,3,49]
                rows:
                {% for record in summary.cashOut %}
                  - columns:
                    - type: Text
                      padding:
                        left: 1
                      contents:
                        - value: '{{record.voucherType}}'
                          style:
                            italic: true
                    - type: Text
                      contents:
                        - value: ':'
                          style:
                            bold: true  
                    - type: Text
                      padding:
                        right: 1
                      alignment: Right
                      contents:
                        - value: '{{record.amount | fixed}}'
                {% endfor %}
              {% endif %}
            {% endif %}
            - columns:
              {% set total = fold(items=summary.cashIn, keys=["amount"])%}
              - type: TableLayout
                padding: 1
                widths: [48,3,49]
                rows:
                  - columns:
                    - type: Text
                      padding:
                        left: 1
                      contents:
                        - value: 'Total'
                    - type: Text
                      contents:
                        - value: ':'
                          style:
                            bold: true  
                    - type: Text
                      padding:
                        right: 1
                      alignment: Right
                      contents:
                        - value: '{{total.amount | default(value=0)| fixed}} Dr' 
                          style:
                            bold: true  
                            shrink: true 
              {% set total = fold(items=summary.cashOut, keys=["amount"])%}
              - type: TableLayout
                padding: 1
                widths: [48,3,49]
                rows:
                  - columns:
                    - type: Text
                      padding:
                        left: 1
                      contents:
                        - value: 'Total'
                    - type: Text
                      contents:
                        - value: ':'
                          style:
                            bold: true  
                    - type: Text
                      padding:
                        right: 1
                      alignment: Right
                      contents:
                        - value: '{{total.amount | default(value=0) | fixed}} Cr'   
                          style:
                            bold: true   
                            shrink: true    
        - type: Text
          alignment: Right
          padding: 
            top: 2
            right: 1
            bottom: 4
          contents:
            - value: 'Closing Balance : '  
              style:
                font_size: 8
            {% if closing >= 0 %}
            - value: '{{closing | fixed}} Dr'  
            {% else %}  
            - value: '{{closing | fixed | trim_start_matches(pat="-")}} Cr'
            {% endif %}
              style:
                bold: true
                font_size: 8
        {% if transactions %}
        {% for transaction in transactions %}
        - type: Text
          padding: 1
          contents:
            - value: '{{transaction.title}}'
              style: 
                font_size: 8
                bold: true
        - type: PaddedElement
          padding:
           vertical: 1 
           horizontal: 0
          element:
            type: BlankLine
        - type: TableLayout
          widths: [1,1,1,1]
          text_style:
            font_size: 8
            bold: true
          padding: 1
          rows:
            - columns:
              - type: Text
                contents:
                  - value: 'Date' 
              - type: Text
                contents:
                  - value: 'Particulars'
              - type: Text
                contents:
                  - value: 'Voucher No' 
              - type: Text
                alignment: Right
                contents:
                  - value: 'Amount'  
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine  
        - type: TableLayout
          widths: [1,1,1,1]
          text_style:
            font_size: 7
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            skip_vertical: true
          rows:
            {% for record in transaction.records %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '{{record.date}}'
              - type: Text
                padding: 1
                contents:
                  {% if record.particulars %}
                    - value: '{{record.particulars}}'
                  {% else %}
                    - value: ''
                  {% endif %}
              - type: Text
                padding: 1
                contents:
                  {% if record.voucherNo %}
                    - value: '{{record.voucherNo}}'
                  {% else %}
                    - value: ''
                  {% endif %}
              - type: Text
                alignment: Right
                padding: 1
                contents:
                {% if record.amount >= 0 %}
                  - value: '{{record.amount | fixed}} Dr'
                {% else %}
                  - value: '{{record.amount | fixed | trim_start_matches(pat="-")}} Cr'
                {% endif %}
            {% endfor %}
        - type: PaddedElement
          padding:
           vertical: 1
           horizontal: 0
          element:
            type: BlankLine  
        - type: Text
          alignment: Right 
          padding: 1
          contents:
            - value: 'Total :  '
              style: 
                font_size: 9
            {% if transaction.total >= 0 %}
            - value: '{{transaction.total | fixed}} Dr'
            {% else %}
            - value: '{{transaction.total | fixed | trim_start_matches(pat="-")}} Cr'
            {% endif %}
              style: 
                font_size: 9
                bold: true
        - type: PaddedElement
          padding:
           top: 1
           bottom: 5
          element:
            type: BlankLine  
        {% endfor %}
        {% endif %}
        {% if denominationRequired %}
        {% if denomination %}
        - type: Text
          padding: 1
          contents: 
            - value: 'DENOMINATION'
              style:
                font_size: 8
                bold: true
        - type: TableLayout
          widths: [1,1,1]
          text_style:
            font_size: 8
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
            - columns:
              - type: Text
                padding: 1
                contents: 
                  - value: 'Currencies'
                    style:
                      bold: true
              - type: Text
                alignment: Right
                padding: 1
                contents: 
                  - value: 'Count'
                    style:
                      bold: true
              - type: Text
                alignment: Right
                padding: 1
                contents: 
                  - value: 'Value'
                    style:
                      bold: true
        - type: TableLayout
          widths: [1,1,1]
          text_style:
            font_size: 8
          cell_decorator:
            type: SimpleCellDecorator
            inner: true
            outer: true
          rows:
             {% if denomination.2000 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '2000'
              - type: Text
                padding: 1
                alignment: Right
                contents:
                  - value: '{{denomination.2000}}'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.2000 *2000 | fixed}}'
             {%endif %}
             {% if denomination.500 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '500'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.500}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.500 *500 | fixed}}'  
             {% endif %}
             {% if denomination.200 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '200'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.200}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.200 *200 | fixed}}'  
             {%endif %} 
             {% if denomination.100 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '100'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.100}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.100 *100 | fixed}}'
             {% endif %}
             {% if denomination.50 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '50'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.50}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.50 *50 | fixed}}'
             {% endif %}
             {% if denomination.20 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '20'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.20}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.20 *20 | fixed}}'
            {%endif%} 
            {% if denomination.10 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '10'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.10}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.10 *10 | fixed}}'
            {% endif %}
            {% if denomination.5 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '5'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.5}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.5 *5 | fixed}}'
            {% endif %}
            {% if denomination.2 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '2'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.2}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.2 *2 | fixed}}'
            {% endif %}
            {% if denomination.1 %}
            - columns:
              - type: Text
                padding: 1
                contents:
                  - value: '1'
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.1}} '
              - type: Text
                alignment: Right
                padding: 1
                contents:
                  - value: '{{denomination.1 *1 | fixed}}'
            {% endif %}
        - type: PaddedElement
          padding: 
            top: 2
            bottom: 1
          element:
            type: BlankLine
        - type: Text
          alignment: Right
          padding: 1
          contents:
            - value: 'Total :'
              style:
                font_size: 8
                bold: true
            - value:  Rs. {{closing | fixed}}
              style:
                font_size: 8
        - type: BlankLine
        {% endif %}
        {% endif %}   